/* src/App.css */
.app-container {
    display: flex;
    height: 100vh;
    margin-top: 60px; /* 为了不让内容遮挡住导航栏 */
    overflow: hidden;
}

/* 默认侧边栏展开时 */
.sidebar {
    width: 250px;  /* 默认宽度 */
    transition: width 0.3s;
}

.main-content {
    flex-grow: 1; /* 让 main-content 自动填充剩余空间 */
    margin-left: 250px;  /* 和 Sidebar 对齐 */
    transition: margin-left 0.3s ease-in-out;
}

/* 侧边栏收起时 */
.sidebar.collapsed {
    width: 0;  /* 彻底隐藏 */
    overflow: hidden;
}

.sidebar.collapsed + .main-content {
    margin-left: 0;  /* 让 Main Content 贴边 */
    width: 100%; /* 确保内容区域铺满 */
}
